html, body{
    height: 100%;
}

a{
    text-decoration: none;
}

.navbar{
    background-color: black !important;
 }

.nav-link{
    color: white !important;
}

#logo{
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container{
    margin-top: 25px;
    flex: 1 0 auto;
}

.jumbo-bg{
    background-image: asset-url('jumbo-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}