<h1 class="text-center mt-4">Edit a category</h1>

<div class="container">
        
    <%= render 'form' %>
    
    <p class="text-center">
        <%= link_to 'Back', category_path(@category), class: "text-info" %>
    </p>
</div>