<h1 class="text-center mt-4">Create a new category</h1>

<div class="container">  
    <%= render 'form' %>
    
    <p class="text-center">
        <%= link_to 'Back', categories_path, class: "text-info" %>
    </p>
</div>